<div class="add_outer"  *ngIf="visible">

  <div class="add_inner">

    <div class="row justify-content-center">

      <div class="col-6  mt-3">
        <h3 align="center">Задача</h3>
<!--        <h3 align="center" *ngIf="map">Задача добавлена в список дел</h3>-->

        <form #myForm="ngForm" class="form-group mt-3" >

          <input class="form-control" type="text" name="name" [(ngModel)]="work.title" placeholder="Наименование работы"/><br>
          <input class="form-control" type="text" name="unit" [(ngModel)]="work.unit" placeholder="Единица измерения"/><br>
          <input class="form-control" type="text" name="coast" [(ngModel)]="work.coast" placeholder="Стоимость за единицу"/><br>

          <label class="form-check-label">Категория: </label>
          <select  class="form-control mb-3"  name="categoryId" (change)="setCategory($event)">
            <option *ngFor="let category of categories; let i = index" value="{{i}}"
                    [selected]="work.category.categoryId === category.categoryId">{{category.title}}</option>
          </select>
          <hr>

          <label class="form-check-label">Подкатегория: </label>
          <select  class="form-control mb-3"  name="subCategoryId" (change)="setSubCategory($event)">
            <option *ngFor="let subCategory of subCategories; let i = index" value="{{i}}"
                    [selected]="work.subCategory.subCategoryId === subCategory.subCategoryId">{{subCategory.title}}</option>
          </select>
          <hr>

          <input class="form-control" type="date" name="localDate"  [(ngModel)]="work.creationDate" /><br>
          <button class="btn  btn-primary" [disabled]="disabled"  (click)="saveWork()">Сохранить</button>
          <button class="btn  btn-primary" (click)="hideComponent()">Отмена</button>
          <button *ngIf="work.id" class="btn  btn-primary ml-3" (click)="deleteWork(work.id)">Удалить</button>

        </form>

      </div>

    </div>

  </div>

</div>


