<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <div class="row">
          <div class="col-lg-2">
            <h3 class="card-title">Прайс-лист</h3>
            <h4 class="card-category">{{currentCategory.title}}</h4>
          </div>
          <div class="col-lg-2">
            <input  class="form-control my-3" type="text" [(ngModel)]="filters.keyword" placeholder="Поиск по названию" (input)="findWorks()"/>
          </div>
          <div class="col-lg-3">
            <label class="form-check-label">Подкатегория:</label>
            <select  class="form-control mb-3"  name="subCategories" [(ngModel)]="filters.subCategory"(change)="subcategoryChanged()" >
              <option value="0">Все</option>
              <option *ngFor="let subCategory of currentSubCategories; let i = index " value="{{subCategory.subCategoryId}}">
                {{subCategory.title}}
              </option>
            </select>
          </div>
          <div class="col-lg-3">
            <label class="form-check-label">Упорядочить по</label>
            <select  class="form-control mb-3"  name="sortBy" [(ngModel)]="filters.sortBy" (change)="orderViewWorks()">
              <option value="1">Упорядочить по Названию &#8593;</option>
              <option value="2">Упорядочить по Названию &#8595;</option>
              <option value="3">Упорядочить по Подкатегории &#8593;</option>
              <option value="4">Упорядочить по Подкатегории &#8595;</option>
              <option value="5">Упорядочить по Дате &#8593;</option>
              <option value="6">Упорядочить по Дате &#8595;</option>
            </select>
          </div>
          <div class="col-lg-2">
            <button class="btn  btn-primary ml-3" (click)="showAddWorkComponent(null)">Добавить пункт</button>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
          <th>№</th>
          <th>Наименование</th>
          <th>Ед. измерения</th>
          <th>Цена за единицу</th>
          <th>Категория</th>
          <th>Подкатегория</th>
          <th>Дата</th>
          <th>Действие</th>
          </thead>
          <tbody>
          <tr id="tr" *ngFor="let work of viewWorks; let i = index " >
            <td>{{i + 1}}</td>
            <td class="pointer" (click)="showAddWorkComponent(work)">{{work.title}}</td>
            <td>{{work.unit}}</td>
            <td>{{work.coast}}</td>
            <td>{{work.category.title}}</td>
            <td>{{work.subCategory.title}}</td>
            <td>
              {{work.creationDate.split('-')[2] }}.{{work.creationDate.split('-')[1] }}.{{work.creationDate.split('-')[0] }}</td>
            <td>
              <!--              <a class="btn btn-info" (click)="showAddTaskComponent(task)">Изменить</a>-->
              <!--              <button class="btn  btn-primary ml-3" (click)="deleteTask(task.id)">Удалить</button>-->
              <div class="show-on-hover">
                <i class="fa fa-times fa-2x pointer show-on-hover" (click)="deleteWork(work.id)"></i>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
